# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.SharpVk.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\source\ajiva-vulcan\SharpVk\src\.idea\.idea.SharpVk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
